

.boxer_plainbox{
	position:absolute;
	
	background-color:transparent;
	border: 2px solid #ff510b;
	width:200px;
	height:300px;
	/*
	margin-right:5px;
	padding-right:5px;*/
}
.boxer_plainbox_close{
	position:absolute;
	left:0px;
	top:0px;
	width:16px;
	height:16px;
	cursor:pointer;
}
.boxer_plainbox_useroptions{
	position:absolute;
	left:-65px;
	top:0px;
	width:65px;
	height:15px;
	background-color:#DBB2BB;
	border:solid 1px #D40633;
}

/**BlobBox**/
.lineBox{
	position:absolute;
	background-color:transparent;
	border: 1px solid #33FF00;

}
.lineBoxSelect{
	border: 2px dotted yellow;
}
.boxer_blob_drag,.boxer_blob_resize{
	margin-left:2px;
}
.ui-state-disabled{
	opacity:1;
}
#content #transcript{
	overflow:auto;
	border:#CCBB93 1px solid;
	height:200px;
	width:90%;
}
#content #transcript div {
	height:2em;
	padding:.5em;
}
#content #transcript div:hover {
	border:#afbf37 1px dotted;
	background-color: #d5db97;
}
#content #transcript .selected{
	background:#baca42;
	color:#14253d;
}
