/* =====================
TILE Project
Copyright 2010 MITH

Written by Elisabeth Kvernen
Maryland Institute for Technology in the Humanities

swatch colors
------------------
f6ecd4 - cream 1
f2e4c2 - cream 2
ccbb93 - tan 1
564a25 - tan 2
e6e7b8 - green 1
dadb9d - green 2
afbf37 - green 3
14253d - dark blue
41475b - almost dark blue
======================== */

/* Yahoo CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
div a { overflow: hidden; } /* makes negative text indent outline show up only around "a" link */

/* General styles ------------------- */
body {
	bottom:0;
	left:0;
	margin:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	color:#41475b;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-size:90%;
	line-height:1.5em;
	background:#fffaef url('../images/bkgd.gif');
}
.az {
	bottom:0;
	left:0;
	overflow:visible;
	position:absolute;
	right:0;
	top:0;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.4em;
}
h3 {
	font-size:1.25em;
}
h4 {
	font-size:1em;
}
p {
	font-size:1em;
}
a {
	color:#41475b;
	text-decoration:none;
}
a:hover {
	color:#061224;
	border-bottom:1px dashed #14253d;
}
/* ------ MISC --------- */
#srcImageForCanvas {
	display:block;
}
.submitFormHidden {
	display:none;
}


/* Clearfix styles--------- */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
} 
* html .clearfix {
    height: 1%
}
/* Header styles ------------------- */
.header {
	bottom:auto;
	opacity:1;
	z-index:2;
}
.header .logo {
	padding:10px;
	left:0;
	width:280px;
}
.header .globalmenu {
	padding:25px 10px 10px 10px;
	right:0;
	left:auto;
	text-align:right;
}
.version {
	font-style:italic;
	font-size:85%;
}
.header .globalmenu .globalbuttons{
	
}
.header .globalmenu .globalbuttons .modeitems{
	
}
.header .globalmenu .globalbuttons .dataitems{
	
	
}
.header .globalmenu .globalbuttons .misc{
	
}
/* Main area styles ------------------- */
.main {
	top:75px;
	height:auto;
	opacity:1;
	z-index:1;
}
.log {
	right:auto;
	opacity:1;
	z-index:3;
	min-width:445px;
	height:50%;
}
.log.max {
	right:auto;
	opacity:1;
	z-index:3;
	min-width:445px;
	height:90%;
}
.activeBox{
	width:40%;
	top:50%;
	min-width:445px;
	right:auto;
	opacity:1;
	z-index:3;
	min-width:445px;
}
/**added to create 'minimize' effect**/
.activeBox.closed{
	width:40%;
	top:90%;
	min-width:445px;
	right:auto;
	opacity:1;
	z-index:3;
	min-width:445px;
	overflow:hidden;
}
.activeBox.closed ul {
	overflow:hidden;
}
#activeBox_min {
	margin:2px;
}
#activeBox_min.btnIconLarge, #minInfo.btnIconLarge {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -338px -21px;
}
#activeBox_min.btnIconLarge:hover, #minInfo.btnIconLarge:hover {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -338px -0px;
}
.activeBox.closed #activeBox_min.btnIconLarge, .infoItem.closed #minInfo.btnIconLarge {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -359px -21px;
}
.activeBox.closed #activeBox_min.btnIconLarge:hover, .infoItem.closed #minInfo.btnIconLarge:hover {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -359px -0px;
}
.tool {
	right:auto;
	opacity:1;
	z-index:2;
	min-width:430px;
}
.content {
	right:0;
	opacity:1;
	z-index:1;
	min-width:630px;
}
.contentclone {
	right:0;
	opacity:1;
	z-index:1;
}
.inner {
	margin:3px 3px 5px 3px;
	border:1px solid #d5db97;
	height:auto;
	background:#fff;
}
.btnIcon {
	width:15px;
	height:15px;
	display:inline-block;
	border:1px solid #fff;
}
.btnIconLarge {
	width:19px;
	height:19px;
	display:inline-block;
	border:1px solid #fff;
}
a.btnIconLarge:hover {
	border-bottom:1px solid transparent;
}
.workspace{
	position:absolute;
	overflow:auto;
}
.vd-container{
	z-index:1032;
}
/**specific to the content area**/


/* Dropdown and menu styles --------------- */
.button {
	padding:2px 7px;
	background:#e7dab9 url('../images/bkgd_btn.jpg') repeat-x;
	border:1px solid #ccbb93;
	margin:0;
	cursor:pointer;	
	width:auto;
}
.button.inactive, .button.inactive:hover {
	color:#c7c3b5;
	border:1px solid #FDFDEC;
	background:#e7dab9 url('../images/bkgd_btn.jpg') repeat-x;
	cursor:default;
}
.button:hover {
	background:#FDFDEC url('../images/bkgd_btn-hover.jpg') repeat-x;
	border-bottom:1px solid #ccbb93;
}
.button.active {
	background:#FDFDEC url('../images/bkgd_btn-active.jpg') repeat-x;
	border-bottom:1px solid #ccbb93;
}
.button.shape {
	float:left;
}
.button.shape.delete{
	float:right;
	margin-left:10px;
}
.menuitem {
	margin-right:10px;
	display:inline;
	float:left;
	position:relative;
}
.menuitem li, .menuitem p {
	padding-right:5px;
}
.menuitem p {
	margin-left:5px;
}
.ddown {
	display: inline;
	height:19px;
	position:relative;
}
.ddown select {
	background:#fff;
	background-image:none;
	border:1px solid #AFBF37;
	font-size:90%;
	color:#41475B;
	width:auto;
}
.ddown select option {
	border:none;
	margin:1px;
	padding:1px;
}
.ddown select option:hover {
	background-color:#FDFDEC;
}

/*HelpBox styles ---------------- */
.helpbox.text {
	background:#F8ECCE;
	border:1px solid #CCBB93;
	padding:10px;
	font-size:85%;
}
.helpbox {
	position:absolute;
	width:450px;
	z-index:9999;
}
.helpIcon {
	text-indent:-9999px;
	display:inline-block;
	background:url(../images/help.gif) no-repeat 0 0;
	height:21px;
	width:21px;
}
.helpIcon:hover {
	background:url(../images/help.gif) no-repeat 0 -21px;
}

/* Toolbar styles --------------- */
.toolbar {
	height:25px;
	background:#f8ecce;
	border:1px solid #fff;
	padding:10px;
	position:relative;
}
.toolbar ul, .toolbar ul li, .toolbar p {
	display:inline;
}
.toolbar li.small {
	font-size:.8em;
	padding:2px;
	/* border:1px solid #fff;
	line-height:15px;*/
}
.toolbar li a.getHLite {
	text-indent:-9999px;
}
.toolbar div.category{
	display:inline;
}
.toolbar li a.getHLite.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -380px -21px;
}
.toolbar li a:hover.getHLite.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -380px -0px;
}
.toolbar li a.getHLite.btnIconLarge.inactive, .toolbar li a:hover#getHLite.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -378px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a.getHLite.btnIconLarge.active, .toolbar li a:hover#getHLite.btnIconLarge.active {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -378px -42px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#pointer.btnIconLarge, .toolbar li a.getTrans.btnIconLarge {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -317px -21px;
	text-indent:-9999px;
}
.toolbar li a:hover#pointer.btnIconLarge, .toolbar li a:hover.getTrans.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -317px -0px;
	text-indent:-9999px;
}
.toolbar li a#pointer.btnIconLarge.inactive, .toolbar li a:hover#pointer.btnIconLarge.inactive, .toolbar li a.getTrans.btnIconLarge.inactive, .toolbar li a:hover.getTrans.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -317px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
	text-indent:-9999px;
}
.toolbar li a#pointer.btnIconLarge.active, .toolbar li a:hover#pointer.btnIconLarge.active, .toolbar li a.getTrans.btnIconLarge.active, .toolbar li a:hover.getTrans.btnIconLarge.active {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -317px -42px;
	border:1px solid #FDFDEC;
	cursor:default;
	text-indent:-9999px;
}
.toolbar li a#rect.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -64px -21px;
}
.toolbar li a:hover#rect.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -64px 0px;
}
.toolbar li a#rect.btnIconLarge.inactive, .toolbar li a:hover#rect.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -64px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#rect.btnIconLarge.active, .toolbar li a:hover#rect.btnIconLarge.active {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -64px -43px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#poly.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -85px -21px;
}
.toolbar li a:hover#poly.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -85px 0px;
}
.toolbar li a#poly.btnIconLarge.inactive, .toolbar li a:hover#poly.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -85px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#poly.btnIconLarge.active, .toolbar li a:hover#poly.btnIconLarge.active {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -85px -44px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#elli.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -106px -21px;
}
.toolbar li a:hover#elli.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -106px 0px;
}
.toolbar li a#elli.btnIconLarge.inactive, .toolbar li a:hover#elli.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -106px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#elli.btnIconLarge.active, .toolbar li a:hover#elli.btnIconLarge.active {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -106px -44px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#areaDel.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px -21px;
}
.toolbar li a:hover#areaDel.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px 0px;
}
.toolbar li a#areaDel.btnIconLarge.inactive, .toolbar li a:hover#areaDel.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#zoomIn.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -127px -21px;
}
.toolbar li a:hover#zoomIn.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -127px 0px;
}
.toolbar li a#zoomIn.btnIconLarge.inactive, .toolbar li a:hover#zoomIn.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -127px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li a#zoomOut.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -148px -21px;
}
.toolbar li a:hover#zoomOut.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -148px 0px;
}
.toolbar li a#zoomOut.btnIconLarge.inactive, .toolbar li a:hover#zoomOut.btnIconLarge.inactive {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -148px -65px;
	border:1px solid #FDFDEC;
	cursor:default;
}
.toolbar li span.listView {
	padding-left:20px;
	min-width:55px;
	background:url('../images/listView.gif') no-repeat 0 50%;
}
.toolbar li span.imgView {
	padding-left:20px;
	min-width:55px;
	background:url('../images/imgView.gif') no-repeat 0 50%;
}
.toolbar .btnIconLarge.close {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px -21px;
}
.toolbar .btnIconLarge.close:hover {
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px 0px;
}
/*.toolbar li a#pgPrev.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -120px 0px;
}
.toolbar li a:hover#pgPrev.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -120px -21px;
}
.toolbar li a#pgNext.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -135px 0px;
}
.toolbar li a:hover#pgNext.btnIconLarge{
	background:url('../images/iconsSprite.gif') no-repeat -135px -21px;
}*/
.toolbar .menuitem li#customWidget {
	height:19px;
	position:relative;
	display:inline-block;
}
/* Image scrollbar -------------------*/
#scroller {
	bottom:0;
	top:auto;
	width:100%;
	height:120px;
	background:#fdfdec;
	/* filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9; */
}
#scroller .toolbar {
	padding:5px;
	margin-bottom:5px;
}
#scroller .handle a {
	display:block;
	cursor:pointer;
	background:url('../images/resize.jpg') no-repeat 40% 35%;
	outline:none;
}
#scroller .toolbar a.open {
	background:transparent url(../images/dropdownOpen.gif) no-repeat scroll 0px 2px;
}
#scroller .toolbar a.closed {
	background:transparent url(../images/dropdownClosed.gif) no-repeat scroll 0px 1px;
}
#scroller span.buttonddown {
	padding-left:20px;
}
#scroller .toolbar a:hover {
	color:#14253d;
	text-decoration:none;
}
#scroller .tileScroll_controls {
	width:40px;
	height:50px;
}
#scroller .tileScroll_controls a {
	display:block;
	height:100%;
	padding:10px;
}
#scroller tileScroll_imagescroller {
	position:relative;
}
#scroller .tileScroll_controls.left {
	float:left;
	width:10%;
}
#scroller #tileScroll_viewer {
	float:left;
	width:80%;
	height:75px;
}
#scroller .tileScroll_controls.right {
	float:right;
	width:10%;
}
#scroller #tileScroll_container {
	width:80%;
	overflow:auto;
}
#scroller .tileScroll_item {
	display:inline;
}

/* Log styles ------------------- */
.log #logbar_activearea {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background:#EAEDC6;
	padding:10px;
	border-bottom:1px dashed #afbf37;
}
.log #logbar_activearea .ddown p {
	display:inline;
	padding-right:5px;
}
.log #logbar_activearea .activearea_head {
	margin-bottom:10px;
}
.log #logbar_activearea .activearea_head .button {
	display:inline;
	float:right;
	margin-left:5px;
} 
.log #logbar_activearea .tag {
	background:#f0f2d2;
	border:1px solid #ffffff;
	margin:0;
	height:125px;
	overflow:auto;
	clear:both;
}
.log .inner .tags {
	overflow:auto;
}
.log .tag {
	border:1px solid #afbf37;
	background:#fff;
	padding:6px;
	margin:5px;
	font-size:.9em;
	/*position:relative;*/
}
.log .tag.selected, .log .tag.selected:hover {
	/* border:3px dashed #afbf37;
	padding:4px;
	background:#eaedc6; */
}
.log #logbar_list {
	overflow-y:auto;
	margin-top:67px;
}
.log #logbar_list div {
	padding:1px 10px;
}
.log #logbar_list .trans_line_hover{
	background-color: #d5db97;
}
.log #logbar_list .line_selected{
	background-color: #baca42;
}

/**added by Grant Dickie **/
.log #logbar_list .tag:hover {
	border:3px solid #afbf37;
	padding:4px;
}
.log #logbar_list .tag.selected{
	border:3px dotted #afbf37;
	padding:4px;
}
/* activeBox styles ------------------- */
.activeBox .infoItem {
	overflow-y:auto;
	height:100%
}
.activeBox .infoItem li {
	padding:2px 10px 2px 10px;
}
.activeBox .infoItem li:first-child {
	padding-top:10px;
}
.activeBox .infoItem .infoItem {
	padding:5px;
	margin:10px;
	border:1px solid #afbf37;
	background:#f0f2d2;
}
.activeBox .infoItem .infoItem.closed {
	padding:5px;
	margin:10px;
	border:1px solid #afbf37;
	background:#f0f2d2;
	overflow:hidden;
	height:20px;
}
/* LabelBar Styles -------------- */
.az #labelList, #labelList {
	padding:0;
	margin-top:47px;
}
#labelList {
	margin-top:0;
	border:1px solid #e0d1ac;
	background-color:#FFFAEF;
	overflow:auto;
}
.az #labelList .labelItem, #labelList .labelItem {
	padding:0.5em;
	border-bottom: 1px solid #f0f2d2;
}
.az #labelList .labelItem:hover, #labelList .labelItem:hover {
	padding:0.5em;
	background-color:#f0f2d2;
}
.az #labelList .labelItem.active, #labelList .labelItem.active {
	padding:0.5em;
	background-color:#afbf37;
}
/* tag styles ------------------- */
.log .tag .tagname {
	/* width:70%; 
	float:left; */
	color:#14253d;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-size:1em;
	line-height:1.5em;
	min-height:21px;
}
.log .tag .tagmenu {
	width:50%;
	float:right; 
	display:inline;
	position:relative;
}
.log .tag .tagmenu select {
	height:21px;
}
.log .tag .menuitem, .log .inner .group .menuitem {
	float:right;	
}
.log .tag .menuitem {
	margin-right:5px;
}
.log .toolbar .menuitem li {
	padding-right:0;
}
.log .tag .tagmenu .menuitem p {
	display:inline;
}
.log .tag .tagcontent {
	width:100%;
	clear:both;
}
.log .tag .btnIconLarge, .groupname .btnIconLarge {
	border:1px solid #afbf37;
}
.log .tag .menuitem.ddown .btnIconLarge.ddown {
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}
.log .tag .btnIconLarge.rect {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -64px -21px;
}
.log .tag .btnIconLarge.poly {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -85px -21px;
}
.log .tag .btnIconLarge.elli {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -106px -21px;
}
.log .tag .btnIconLarge.text {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -1px -22px;
}
.log .tag .btnIconLarge.hand, .groupname .btnIconLarge.hand {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -231px -21px;
}
.log .tag .btnIconLarge.hand:hover, .groupname .btnIconLarge.hand:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -231px 0px;
	cursor:move;
}
.log .tag .btnIconLarge.hand.active, .log .tag .btnIconLarge.hand.active:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -231px -42px;
}
.log .tag .btnIconLarge.hand.inactive, .log .tag .btnIconLarge.hand.inactive:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -231px -65px;
	border:1px solid #eadec2;
	cursor:default;	
}
.log .tag .btnIconLarge.ddown {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -274px -21px;
}
.log .tag .btnIconLarge.ddown:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -274px 0px;
}
.log .tag .btnIconLarge.ddown.active, .log .tag .btnIconLarge.ddown.active:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -274px -42px;
}
.log .tag .btnIconLarge.ddown.inactive, .log .tag .btnIconLarge.ddown.inactive:hover {
	background: url("../images/iconsSpriteLarge.gif") no-repeat scroll -274px -65px;
	border:1px solid #eadec2;
	cursor:default;	
}
.log .tag .shapename, .log .tag .transname, .log .tag .tagnamep {
	font-weight:bold;
	margin-bottom:5px;
	display:inline;
}
.log .group .tag .tagname input {
	width:98%;
}
.log .tag input.submit {
	width:auto;
}
.log .tag .tagcontent textarea {
	width:100%;
	overflow:auto;
}
.log .group {
	background:#fef5df;
	margin:5px;
	padding:3px;
	border:1px solid #ffffff;
}
.log .group:hover {
	border:1px solid #afbf37;
}
.log .group .groupname {
	background:#d5db97;
	font-weight:bold;
	margin:-3px;
	padding:5px;
	margin-bottom:3px;
}
.log .group .groupname .menuitem {
	margin-right:0;
}
.log .groupname a.open, .log .tagname a.open {
	background:transparent url(../images/dropdownOpenBlue.gif) no-repeat scroll 0px 2px;
}
.log .groupname a.closed, .log .tagname a.closed {
	background:transparent url(../images/dropdownClosedBlue.gif) no-repeat scroll 0px 1px;
}
.log .group .groupname .btnIcon, .log .tag .tagname .btnIcon {
	border:none;
	height:13px;
	width:12px;
	padding-right:5px;
}
.log .group .groupname span, .log .tag .tagname span {
	padding-left:5px;
}
.log .group .groupname span.btnIconLarge, .log .tag .tagname span.btnIconLarge {
	padding-left:0;
}
.log .group .grouplist {
	overflow:auto;
}
.log .tag .tagcontent .nameValue {
	background-color:#FDFDEC;
	padding:3px;
}
.log .tag .tagcontent .nameValue hr {
	width:100%;
	border-color: #afbf37;
  	border-style: dashed;
  	border-width: 1px 0 0;
  	height: 0;
}
.log .tag .tagcontent input.done {
	float:right;
}
.log .tag .tagcontent select {
	background:#fff;
	background-image:none;
	border:1px solid #AFBF37;
	font-size:90%;
	color:#41475B;
	width:auto;
	margin-left:5px;
}
.log .tag .tagcontent select option {
	border:none;
	margin:1px;
	padding:1px;
}
.log .tag .tagcontent select.name_value_Option {
	margin-top:5px;
	margin-left:0;
}
.log #logNav {
	height:2.5em;
	background:#f8ecce;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.log #logNav .button  {
	display:inline;
	float:right;
	margin:5px;
}
/* Tool styles ------------------- */
.tool .inner #content {
	padding:10px;
	overflow:auto;
	margin-top:47px;
}
.tool .toolbar .menuitem {
	float:right;
	margin-right:0;
}
/* ------ form styles --------- */
.dialog .body input.form_Choice{
	width:25px;
	margin-right:5p;
}

/* auto recognizer styles ----- */
.tool .autorec_toolbar #colorSection #backgroundimage {
	margin:10px 0;
	color:#fff;
	padding:3px;
}
.tool .autorec_toolbar .buttondiv {
	margin:10px 0;
}
.tool .autorec_toolbar .ui-slider-handle {
	background:#D5DB97;
	border:1px solid #CCBB93;
}
.tool .autorec_toolbar .ui-slider-handle.ui-state-active, .tool .autorec_toolbar .ui-slider-handle.ui-state-hover {
	border:1px solid #a99565;
}
.tool .autorec_toolbar .ui-slider {
	border:1px solid #CCBB93;
}
.tool .autorec_toolbar #content .step {
	margin-bottom:20px;
}
/**
.tool .autorec_toolbar #content .step #sidebarContent .clline {
	border:1px solid #CCBB93;
	padding:5px;
}
.tool .autorec_toolbar #content .step #sidebarContent .clline.selected {
	border:5px solid #CCBB93;
	padding:5px;
}
**/
.clline {
	border:1px solid #CCBB93;
	padding:5px;
}
.clline.selected {
	border:5px solid #CCBB93;
	padding:5px;
}
.tool .autorec_toolbar #content .step #sidebarContent .clline .deleteLine {
	display:inline; 
	height:20px; 
	float:right;
}
.tool .autorec_toolbar #content .instructions {
	line-height:1.2em;
	font-size:90%;
	margin-bottom:5px;
	padding:5px;
	background:#EAEDC6;
}
.tool .autorec_toolbar #content .instructions .stepnum {
	font-style:italic;
	font-weight:bold;
}
.tool .autorec_toolbar #content .textlink {
	margin-right:5px;
	margin-left:5px;
	cursor:pointer;
}

/* Content and Content clone styles ------------------- */
.content .inner, .contentclone .inner {
}
.content .toolbar .button, .content .toolbar .btnIconLarge {
	position:relative;
	top:3px;
}
.content .textImageList .list {
	float:left; 
	width:30%;
	background:#F0F2D2;
	border-right:1px dashed #AFBF37;
	margin-top:47px;
}
.content .textImageList .list ul {
	list-style: none;
	margin-left:10px;
	padding:5px 0;
}
.content .textImageList .list ul li {
	padding:2px 0;
}
.content .textImageList .image {
	padding:10px;
	margin-left:30%;
}

/* Positioning (2, 3, 4 columns) ------------------- */
/* 2 columns */
.twocol .log, .twocol .tool {
	left:0;
	width:40%;
}
.twocol .content {
	left:40%;
	width:60%;
}
.twocol .contentclone {
	display:none;
}

/* 3 columns */
.threecol .log {
	left:0;
	width:40%;
}
.threecol .tool {
	left:40%;
	width:15%;
}
.threecol .content {
	left:55%;
	width:45%;
}
.threecol .contentclone {
	display:none;
}

/* 4 columns */
.fourcol .log {
	left:0;
	width:25%;
}
.fourcol .tool {
	left:25%;
	width:15%;
}
.fourcol .content {
	right:auto;
	left:40%;
	width:30%;
}
.fourcol .contentclone {
	left:70%;
	width:30%;
}

/** AXE Node Styles **/
.axe_start_node{
	position: absolute;
	width:7px;
	height:7px;
	background:url('../images/axe_red_small.png') no-repeat;
}
.axe_node{
	position: absolute;
	width:7px;
	height:7px;
	background:url('../images/axe_blue_small.png') no-repeat;
}
.axe_start_node_selected{
	position: absolute;
	width:10px;
	height:10px;
	background:url('../images/axe_red_large.png') no-repeat;
}
.axe_node_selected{
	position: absolute;
	width:10px;
	height:10px;
	background:url('../images/axe_blue_large.png') no-repeat;
}
/** SELECTION BOUNDING BOX STYLE **/
/**selBB**/
/**TODO: make into a CSS style rather than JQUERY style**/
#selBB{
	border: 3px dotted #afbf37;
}
.shpButtonHolder{
	position:absolute;
	z-index:100000;
	padding:5px;
}
/**** Highlight Selection Style ****/
#az_log #az_transcript_area.az.inner #logbar_list .line span:hover {
	border-bottom: 0.5px solid #afbd37;
}
#az_log #az_transcript_area.az.inner #logbar_list .line span.selected {
	border: 0.5px dashed #afbf37;
} 