/* styles for dialog popup box */
#savedialog.dialog{
	position:absolute;
	left:100px;
	top:45px;
	width:500px;
	height:auto;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
	z-index:1005;
}

#welcomeDialog.dialog {
	position:absolute;
	left:100px;
	top:45px;
	width:500px;
	height:auto;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
	z-index:1005;
}
#ALRLOADDIALOG.dialog{
	position:absolute;
	left:50%;
	top:50%;
	width:800px;
	height:auto;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
	z-index:1005;
}
#exportDialog.dialog {
	position:absolute;
	left:100px;
	top:45px;
	width:800px;
	height:auto;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
	z-index:1005;
}
#dialogNewImg.dialog {
	position:absolute;
	left:100px;
	top:45px;
	width:800px;
	height:auto;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
}
#loadTagsDialog.dialog {
	position:absolute;
	left:100px;
	top:45px;
	width:800px;
	height:auto;
	z-index:1003;
	border:1px solid #D5DB97;
	/**initially invisible**/
	display:none;
}

#loadDialogSplash.dialog{
	position:absolute;
	left:38%;
	top:50%;
	width:100px;
	height:100px;
	z-index:1003;
	border:1px solid #D5DB97;
	
	/**initially invisible**/
	display:none;
}
#loadDialogSplash.dialog .body{
	background:#fff url('../images/tileload.gif');
	padding:50px;
}
.dialog.screenshot {
	height:150px;
	width:150px;
	position:absolute;
	
	z-index:1007;
	display:none;
}
#importShot.dialog.screenshot {
	left:80%;
	top:10%;
}
#importShot.dialog.screenshot .body {
	position:relative;
	width:100%;
	height:100%;
}
#ALRShot.dialog.screenshot {
	left:50%;
	top:10%;
}
#ALRShot.dialog.screenshot .body {
	position:relative;
	width:100%;
	height:100%;
}
#imageShot.dialog.screenshot {
	left:65%;
	top:50%;
}
#imageShot.dialog.screenshot .body {
	position:relative;
	width:100%;
	height:100%;
}
#welcomeDialog.dialog .body .description p a.point {
	cursor:pointer;
}
.dialog .header {
	background:#F8ECCE;
	border:1.5px solid #ffffff;
	height:1.5em;
	padding:10px;
}
.dialog .body {
	background:#fff;
	position:relative;
	padding:20px;
}
.dialog .header h2 {
	font-size:100%;
}
.dialog .body h3 {
	font-size:90%;
}
.dialog .header h2.title {
	float:left;
	display:block;
	padding-left:10px;
}
.dialog .header h2 a.btnIconLarge {
	float:right;
	text-indent:-9999px;
}
.dialog .header h2 a.close.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px -21px;
}
.dialog .header h2 a:hover.close.btnIconLarge{
	background:url('../images/iconsSpriteLarge.gif') no-repeat -211px -0px;
}
.dialog .body h3 {
	font-weight:bold;
	margin-bottom:10px;
}
.dialog .body p {
	font-size:85%;
	margin-bottom:10px;
}
.dialog .body p a {
	font-weight:bold;
}
.dialog .body .selectOptions {
	float:left;
	display:none;
	width:30%;
	margin-right:5%;
	background:#FFFAEF;
	padding:2.5%;
}
.dialog .body .selectOptions p.version {
	margin-top:30px;
	margin-bottom:0;
	font-style:italic;
}
.dialog .body .description {
	float:left;
	margin:0 5% 0 0;
}

.dialog .body .option label {
	padding-right:10px;
}
.dialog .body input {
	width:125px;
	margin-right:5px;
}
.dialog .body input.chooseFile {
	width:50px;
	margin-right:5px;
}
.dialog .body input.long {
	width:500px;
	margin-right:5px;
}
.dialog .body input.button {
	background:#e7dab9;
	height:21px;
	border:1px solid #ccbb93;
	margin:20px 5px 0 0;
	font-size:.8em;
	cursor:pointer;
	width:auto;
}
.dialog .body input.button:hover {
	color:#14253d;
	background:#F6ECD4;
}
.dialog .body input.textfield {
	margin-left:10px;
	width:80%;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 80000px;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	top: 150px;
	left: 480px;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size:.9em;
}