/**main container**/
.mainStage{
	position:absolute;

}
.mainStageRight{
	/**Goes to the right**/
	margin:10px;
	top:0px;
	left:300px;
}
.mainStageBottom{
	/**goes on the bottom**/
	margin-top:20px;
	top:25%;
	left:0px;
}
#srcImg{
	display:none;
}
/**Image Container**/
.ImageContainer{
	overflow:scroll;
	position:absolute;
	top:0px;
	left:0px;
	width:50%;
	
}

.ImageContainer canvas{
position:absolute;
	overflow:scroll;
	
}
/**Tool Bar**/
.ToolBar{
	padding:1em;
	border:solid 2px grey;
	
	z-index:9999;
	
}
.ToolBarTop{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:20%;
}
.ToolBarSide{
	position:absolute;
	top:0px;
	left:0px;
	
}
.SideToolBar{
	position:absolute;
	top:0px;
	left:300px;
}
.ColorBarSliders{
	padding:2em;
}
.colorbarslider{
	margin-left:2px;
	margin-top:14px;
}
.bkgBox{
	width:200px;
	height:48px;
	padding:2px;
	color:#FFFFFF;
}
.bkgBoxTop{
	/**for top position**/
	position:relative;
	margin-left:5px;
	padding-left:3px;
}
.eyedropper{
	cursor:pointer;
}
.eyedropperTop{
	/**For top position**/
	padding-left:3px;
	margin-left:5px;
}
/**PlainBox**/

.boxer_plainbox{
	position:absolute;
	left:0px;
	top:17px;
	background-color:transparent;
	border: 2px solid #ff510b;
	width:100px;
	height:100px;
	margin-right:5px;
	padding-right:5px;
}
.boxer_plainbox_close{
	position:absolute;
	left:0px;
	top:0px;
	width:16px;
	height:16px;
	cursor:pointer;
}
.boxer_plainbox_useroptions{
	position:absolute;
	left:-65px;
	top:0px;
	width:65px;
	height:15px;
	background-color:#DBB2BB;
	border:solid 1px #D40633;
}
/**SelectorBox**/
.boxer_select_ocr{
	position:absolute;
	left:25%;
	
	cursor:pointer;
}
/**BlobBox**/
.blobbox{
	position:absolute;
	background-color:transparent;
	border: 2px solid #ff510b;
	
}
.blobbox:hover{
	border: 2px dotted yellow;
}
.boxer_blob_drag,.boxer_blob_resize{
	margin-left:2px;
}
.ui-state-disabled{
	opacity:1;
}
/**Raphael Canvas**/
svg{
	position:absolute;
	
}
.testcontrol{
	margin-top:2px;
}

/**Rectangle**/
.shapeplaceholder{
	z-index:9999;
	display:none;
}
.shapeResize{
	position:absolute;
	color:#FFFFFF;
	cursor:pointer;
}
/**Options for Shapes**/
.ellipseOptions,.polyOptions{
	background-color:#DDD;
	color:#000000;
	position:absolute;
	width:100px;
	height:14px;
	top:0px;
	left:0px;
	z-index:9999;
}
.ellipseOption{
	padding:2px;
	margin-right:3px;
}